
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">TIENDA DE LIBROS YISUS!</h1>
    <p>Este es un simple tempalte de marketing de la informacion de esta pagina web
      Incluimos un largo soporte para este contenido. Usando e inicializando puntos
      para la creacion simultaneamente de este template. Si quieres saber mas suscribete.
      <br>
      
    <div class="form-group">
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" required>
    </div>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Saber Mas... &raquo;</a>
    </p>
  </div>
</div>
